@import "reset";
@import "variables";
@import "fonts";
@import "button";
@import "row";
@import "input";

body {
  font-family: 15px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  text-decoration: none;
  background-color: $base-background-color;
}

.root {
  background-color: $base-background-color;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 60px;
}

.header {
  border: $base-border;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.burger {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  border: $base-border;
  margin: 5px;
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  max-width: 485px;
}

.sidebar {
  border: $base-border;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  position: fixed;
  top: 65px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.navigation {
  border: $base-border;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.spaceinfo {
  border: $base-border;
  margin: 5px;
}

.content {
  border: $base-border;
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 260px;
}

.inner-head {
  border: $base-border;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.inner-content {
  border: $base-border;
  margin: 5px;
}

.content-footer {
  border: $base-border;
  margin: 5px;
}
