@import "reset";
@import "variables";
@import "fonts";
@import "button";
@import "row";
@import "input";

body {
  font-family: 15px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  text-decoration: none;
  background-color: $base-background-color;
}

.root {
  background-color: $base-background-color;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 60px;
}

.header {
  background-color: $base-background-color;
  border: $base-border;
  margin: 5px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  align-items: stretch;
}

.header-menu {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.burger a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../public/images/burger.svg") no-repeat;
  &:hover {
    opacity: 1;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 25px;
  .logo-link {
    display: inline-block;
    width: 121px;
    height: 30px;
    background: url("../public/images/logo.svg") no-repeat;
    &--first {
      color: #ff0000;
    }
  }
}

.menu {
  border: $base-border;
  margin: 5px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.search {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 485px;
}

.search-wrapper {
  width: 100%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  justify-content: flex-end;
}

.donwload {
  text-decoration: none;
  font-size: 15px;
}

.notification {
  display: flex;
  align-items: center;
}

.notification a {
  width: 20px;
  height: 20px;
  background: url("../public/images/notification.svg") no-repeat;
}

.user {
  display: flex;
  align-items: center;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 25px;
  background: url("../public/images/user-pic.png") no-repeat center;
}

.sidebar {
  border: $base-border;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  width: 250px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation {
  height: 100%;
  border: $base-border;
  margin: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:before {
    content: "";
    height: 27px;
    background-image: linear-gradient(
      180deg,
      $base-background-color,
      hsla(0, 0%, 97.3%, 0)
    );
    top: 0;
  }
  &:after {
    content: "";
    height: 27px;
    background-image: linear-gradient(
      180deg,
      $base-background-color,
      hsla(0, 0%, 97.3%, 0)
    );
    top: 0;
  }
}

.navigation-inner {
  max-height: 100%;
  overflow-y: auto;
}

.navigation-item {
  display: block;
  margin: 15px 5px;
  position: relative;
  &:after {
    content: "";
    border-radius: 14px;
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.progress-info {
  border: $base-border;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-wrapper {
  padding: 10px;
  width: 100%;
}

.progress-border {
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.07);
}

.progress-status {
  height: 5px;
  width: 40%;
  background-color: #6c6;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.usage {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.content {
  border: $base-border;
  background-color: #fff;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 260px;
}

.inner-head {
  width: 100%;
  border: $base-border;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.sort-button {
  &::before {
    content: url("../public/images/sort.svg");
  }
  &:after {
    content: url("../public/images/arrow.svg");
  }
}

.view-type .medium {
  &:before {
    content: url("../public/images/medium.svg");
  }
}

.view-type .small {
  &:before {
    content: url("../public/images/small.svg");
  }
}

.view-type .list {
  &:before {
    content: url("../public/images/list.svg");
  }
}

.inner-content {
  width: 100%;
  border: $base-border;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.content-wrapper {
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.content-folder {
  width: 145px;
  height: 145px;
  &:before {
    content: url("../public/images/folder.svg");
    width: 145px;
    height: 145px;
  }
}

.content-footer {
  width: 100%;
  border: $base-border;
  margin: 5px;
  font-size: 15px;
}

.content-footer a {
  text-decoration: none;
}

@media screen and (max-width: 812px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0px;
  }
}

@media (max-width: 1080px) {
  .menu {
    display: none;
  }
  .header-menu {
    width: auto;
  }
}
