@import "reset";
@import "variables";
@import "fonts";
@import "button";
@import "input";
@import url("/font/stylesheet");

body {
  font: 15px yandex-sans, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  background-color: $base-background-color;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.link-theme {
  color: #000;
  text-decoration: none;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.root {
  background-color: #f8f8f8;
  display: grid;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content";
}

.header {
  background-color: #f8f8f8;
  display: flex;
  padding: 0 22px;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  grid-area: header;
}

.header-menu {
  display: flex;
  align-items: center;
}

.burger {
  height: 36px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.burger a {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  background: url("../public/images/burger.svg") no-repeat;
  &:hover {
    opacity: 1;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 227px;
  .logo-link {
    display: inline-block;
    width: 121px;
    height: 30px;
    background: url("../public/images/logo.svg") no-repeat;
    &--first {
      color: #ff0000;
    }
  }
}

.menu {
  margin: 5px;
  font: 15px yandex-sans, Arial, sans-serif;
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.search {
  display: flex;
  align-items: center;
  max-width: 485px;
  width: 100%;
}

.search-wrapper {
  width: 100%;
}

.search-field {
  background: rgba(0, 0, 0, 0.04) url("../public/images/search.svg") no-repeat;
  background-position: right 10px center;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.download {
  text-decoration: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  &::before {
    content: "";
    background: url("../public/images/windows-logo.svg") no-repeat center;
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }
}

.install-software {
  display: inline-flex;
  align-items: center;
  min-width: 255px;
}

.notification {
  display: flex;
  align-items: center;
  margin-right: 23px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../public/images/notification.svg") no-repeat;
}

.user {
  display: flex;
  align-items: center;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 25px;
  position: relative;
  background: url("../public/images/user-pic.png") no-repeat center;
  &::after {
    content: "";
    background: url("../public/images/plus.svg") no-repeat center;
    width: 52px;
    height: 52px;
    position: absolute;
    top: -6px;
    right: -6px;
  }
}

.content-wrapper {
  display: flex;
}

.sidebar {
  bottom: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 10px 32px;
}

.navigation {
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 32px;
  margin-right: 32px;
  &:before {
    content: "";
    height: 27px;
    background-image: linear-gradient(
      180deg,
      $base-background-color,
      hsla(0, 0%, 97.3%, 0)
    );
    top: 0;
  }
  &:after {
    content: "";
    height: 27px;
    background-image: linear-gradient(
      180deg,
      $base-background-color,
      hsla(0, 0%, 97.3%, 0)
    );
    top: 0;
  }
}

.navigation-inner {
  max-height: 100%;
  overflow-y: auto;
  position: relative;
}

.navigation-item {
  display: block;
  margin: 15px 5px;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  cursor: pointer;
  &_active {
    &:after {
      background-color: rgba(0, 0, 0, 0.07);
      content: "";
      position: absolute;
      border-radius: 14px;
      top: 0;
      left: -5px;
      width: 100%;
      height: 100%;
    }
  }
}

.progress-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-wrapper {
  margin: 0 32px 32px;
}

.progress-border {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.progress-status {
  height: 8px;
  width: 40%;
  background-color: #6c6;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.usage {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  grid-area: content;
  padding-right: 30px;
}

.content-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
}

.content__info {
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-head {
  display: inline;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  line-height: 28px;
}

.sort-button {
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    color: #000;
    opacity: 1;
  }
  &::before {
    content: url("../public/images/sort.svg");
    padding-right: 5px;
    vertical-align: -35%;
  }
  &:after {
    content: url("../public/images/arrow.svg");
    padding-left: 5px;
    vertical-align: -35%;
  }
}

.sort {
  margin-right: 30px;
}

.view-type {
  cursor: pointer;
}

.view-type__icon {
  &:not(:first-child) {
    padding-left: 5px;
  }
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
  &_large {
    &:before {
      content: url("../public/images/large.svg");
    }
  }
  &_small {
    &:before {
      content: url("../public/images/small.svg");
    }
  }
  &_list {
    &:before {
      content: url("../public/images/list.svg");
    }
  }
}

.content-browser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  font: 13px / 14px yandex-sans, Arial, sans-serif;
  margin: 5px;
  &_large {
    flex-direction: row;
  }
  &_small {
    flex-direction: row;
  }
  &_list {
    flex-direction: column;
  }
}

.content-item {
  padding: 12px;
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &_large {
    width: 170px;
    flex-direction: column;
    align-items: center;
  }
  &_small {
    width: 100px;
    flex-direction: column;
  }
  &_list {
    width: 100%;
    flex-direction: row;
  }
}

.content-item__icon {
  width: 100%;
  &:before {
    content: url("../public/images/folder.svg");
  }
  &_list {
    width: 40px;
  }
}

.content-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.content-item__column {
  &_hidden {
    display: none;
  }
  &_title {
    width: 100%;
  }
  &_date {
    width: 100%;
  }
  &_time {
    width: 100%;
  }
  &_size {
    width: 100%;
  }
}

.header-right {
  display: flex;
  font-size: 14px;
}

.content-footer {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.content-footer a {
  text-decoration: none;
  opacity: 0.5;
  &:not(:first-child) {
    margin-left: 16px;
  }
}

.footer_copyright > span {
  opacity: 0.5;
}

@media screen and (max-width: 812px) {
  .sidebar {
    display: none;
  }
  .root {
    margin-left: 0px;
    grid-template-areas:
      "header header"
      "content content";
  }
}

@media (max-width: 1080px) {
  .menu {
    display: none;
  }
  .header-menu {
    width: auto;
  }
}

@media (max-width: 1239px) {
  .install-software {
    display: none;
  }
}
